<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <Settings>
    <SoundSettings>
      <Volume>1</Volume>
      <Music>1</Music>
      <Sound>1</Sound>
    </SoundSettings>
  </Settings>
</configuration>